<div class='message instagram' id='<%= _id %>'> 
	<div class='source_icons'>
		<img class='user_avatar' src='<%=content.user.profile_picture %>'> <BR>
		<img class='favicons' src='/img/instagram_icon.png' > 
	</div>
	
	<div class='date_time'>
		<%= formatted_time %>
	</div>

	<div class='post'>
		<div class='username'>			
		<b><a href="http://instagram.com/<%= content.user.username %>" target="_blank">@<%= content.user.username %></a></b><span class='display_name'> ~ <%= content.user.full_name %></span><BR> 
		</div>
		<div class='post_content' >
			<div>
				<a href="<%= content.images.standard_resolution.url %>" target='_blank'>
					<img src="<%= content.images.thumbnail.url %>">
				</a>
				<div class='instagram_filter' id="<%= content.id %>_source" style='font-size: 50%'>
					<%= content.filter %>
				</div>
			</div>
		<div class='post_caption'>
			<%= content.caption.text %>
			<BR>
			<% _.each(content.tags, function(element, index, list) {   
				print("<span>" + element + " </span>");			
			}); %>

		</div>
	</div> 

</div>