<div class='message instagram' id='<%= _id %>'> 
	<div class='source_icons'>
		<img class='user_avatar' src='<%=content.user.profile_picture %>'> <BR>
		<img class='favicons' src='/img/instagram_icon.png' > 
		<% 
			if (typeof match != "undefined" && ( _.where(match, {type:'location'}).length>0   ||  _.where(match, {type:'geography'}).length>0 )) {
					print ("<img class='favicons' src='/img/geo_icon.png'>");
			}
		%>		
		
	</div>
	
	<div class='date_time'>
		<%= formatted_time %>
	</div>

	<div class='post'>
		<div class='username'>			
		<b><a href="http://instagram.com/<%= content.user.username %>" target="_blank">@<%= content.user.username %></a></b><span class='display_name'> ~ <%= content.user.full_name %></span><BR> 
		</div>
		<div class='post_content' >
			<div>
				<a href="<%= content.images.standard_resolution.url %>" target='_blank'>
					<img src="<%= content.images.thumbnail.url %>">
				</a>
				<div class='instagram_filter' id="<%= content.id %>_source" style='font-size: 50%'>
					<%= content.filter %>
				</div>
			</div>
		<div class='post_caption'>
			<% if(content.caption != null) {
			 	print(content.caption.text); 
			 }
			 %>
		</div>
		
		<div class='matches' style="clear:both;font-size:60%">
		
			<%
				console.log(match);
				if (typeof match != "undefined") {
			
			
								
					var tags = _.filter(match, function(m) { return m.type == "tag";});
					if (tags.length > 0) {
						print("<span id='" + content.id + "_tagmatch' class='term_match'>");
						print("<b>Tag match</b>: ");
						_.each(tags, function(element, index, list) { 
							print (element.value + "&nbsp;");
						});	
						print("</span>");
					}	
			
			
					// Loop throgh all the match types
					for (var i in match) {
						
						console.log("Match " + i);
						if (match[i].type) {
							switch(match[i].type) {
					
								case "location":
									print("<span id='" + content.id + "_locationmatch' class='location_match'>");
									print("<b>Location match</b>: ");
									if ( (typeof content.location != "undefined")  && (typeof content.location.latitude != "undefined") && (typeof content.location.longitude != "undefined") && (typeof content.location.name != "undefined")) {
										print ("<a href='https://maps.google.com/maps?q=" + content.location.latitude + "," + content.location.longitude + "' target='_blank'>" + content.location.name + "</a>&nbsp;");
									}
									print("</span>");
									break;
							
								case "geography":
									print("<span id='" + content.id + "_geographymatch' class='geography_match'>");
									print("<b>Geography match</b>: ");
									if ( (typeof content.location != "undefined")  && (typeof content.location.latitude != "undefined") && (typeof content.location.longitude != "undefined")) {
										print ("<a href='https://maps.google.com/maps?q=" + content.location.latitude + "," + content.location.longitude + "' target='_blank'>" + content.location.latitude + ", " + content.location.longitude + "</a>&nbsp;");
									}
									print("</span>");
									break;	
							
								case "user":
									print("<span id='" + content.id + "_usermatch' class='user_match'>");
									print("<b>User match</b>: ");				
									print(content.user.username);
									print("</span>");
									break;								
															
							
							}
						}
					}
				
				}
			%>
		
			
	
		
		
		</div>		
		
		
		<div class='clear'></div>
	</div> 

</div>