<div class='message twitter' id='<%= _id %>'> 
	<div class='source_icons'>
		<img class='user_avatar' src='<%= content.user.profile_image_url %>'> <BR>
		<img class='favicons' src='/img/twitter_icon.png'> 
	</div>
	
	<div class='date_time'>
		<%= formatted_time %><BR>
		From 
		<%
			// Strip any HTML formatting
			var source = $('<div>' + content.source + '</div>').text();	
			print(source);	
		%>
	</div>
	
	
	
	<div class='post'>			
		<div class='username'>
			<b>
			<a href="https://twitter.com/<%= content.user.screen_name %>" target='_blank'>
			@<%= content.user.screen_name %></a>
		</b>
		<span class='display_name'> ~ <%= content.user.name %></span>
		</div>

		<div class='post_content'>
		<%= content.text %><BR>
			
			<div class='matches'>
				<% var users = _.filter(matches, function(m) { return m.matchtype == "User";});
			if (users.length > 0) {
				print("<span id='" + content.id + "_usermatch' class='user_match'>");
				print("<b>User match</b>: ");
				_.each(users, function(element, index, list) { 
					print (element.match + "&nbsp;");
				});	
				print("</span>");
			}
			
			var terms = _.filter(matches, function(m) { return m.matchtype == "Term";});
			if (terms.length > 0) {
				print("<span id='" + content.id + "_termmatch' class='term_match'>");
				print("<b>Term match</b>: ");
				_.each(terms, function(element, index, list) { 
					print (element.match + "&nbsp;");
				});	
				print("</span>");
			}			
			
			var urls = _.filter(matches, function(m) { return m.matchtype == "URL";});
			if (urls.length > 0) {
				print("<span id='" + content.id + "_urlmatch' class='url_match'>");
						
				print("<b>URL match</b>: ");
				_.each(urls, function(element, index, list) { 
				
					// Strip any HTML formatting
					var url = $('<div>' + element.match + '</div>').text();
					
					if (url.length > 15) {
						url_text = url.substring(0,25)+'...';
					} else {
						url_text = url;
					}
							
					print ("<a href='" + url + "' target='_blank'>" + url_text + "</a>&nbsp;");
				});	
				print("</span>");
			}	
			

			var locations = _.filter(matches, function(m) { return m.matchtype == "Location";});
			if (locations.length > 0) {
				print("<span id='" + content.id + "_locationmatch' class='location_match'>");
				print("<b>Location match</b>: ");
				_.each(locations, function(element, index, list) { 
					print ("<a href='https://www.google.com/maps#!q=" + element.match + "' target='_blank'>" + element.match + "</a>&nbsp;");
				});	
				print("</span>");
			}				
			
			%>
			</div>
		</div>
	</div> 
	
</div>