<div class='message twitter' id='{{ content.id }}' style='position:relative;min-height: 50px;background-color:#eeeeee;border:3px solid #{{ config.twittercolorhexcode }}'> 
	<img style='float:right;' src='/img/twitter_icon.png' > 
	<img style='position:relative;float:left;width:73px;height:73px' src='{{content.user.profile_image_url}}'> 
	<div style='position:relative;vertical-align:top;margin-left:80px;min-height: 50px;'>			
		<b>{{ content.user.name }}</b><BR> 
		{{{ content.text }}}<BR>
		<span id="{{ content.id }}_source" style='font-size: 50%'>From {{{ content.source }}}</span>
		{{#matches}}
			<div style='font-size: 50%;width:20em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap'>{{ matchtype }} match: {{{ match }}}</div>
		{{/matches}}
	</div> 
	<div style='position:absolute;bottom:0;right:0;width:50%%;font-size:50%%;text-align:right'>{{ formatted_time }}</div>
</div>