{% autoescape None %}
<div class="message instagram" id="{{ message["id"] }}" style="position:relative;min-height: 150px;background-color:#eeeeee;border:3px solid #800000">
	
	<img style="height:150px;width150px;float:left;" src="{{ message["thumbnail_url"] }}">

	<div style="position:relative;margin-left:160px;">				
		<b>{{ message["name"] }}</b><BR>
		{{ message["caption"] }}<BR>
		{{ message["filter"] }}
	</div>

	<div style='position:absolute;bottom:0;right:0;width:50%%;font-size:50%%;text-align:right'>{{ message["timestamp"] }}</div>

</div>