{% autoescape None %}
<div class="message twitter" id="{{ tweet["id"] }}" style="position:relative;min-height: 50px;background-color:#eeeeee;border:3px solid #{{ tweet["color1"] }}">
	
	<img style="float:right;" src="/static/twitter_icon.png" >

	<img style="position:relative;float:left;width:73px;height:73px" src="{{ tweet["profile_image_url"] }}">

		<div style="position:relative;vertical-align:top;margin-left:80px;min-height: 50px;">			
				<b>{{ tweet["name"] }}</b><BR> 
				{{ tweet["text"] }}<BR>
				<span style="font-size: 50%">From {{ tweet["source"] }}</span>
		</div>

	<div style='position:absolute;bottom:0;right:0;width:50%%;font-size:50%%;text-align:right'>
		{{ tweet["timestamp"] }}
	</div>
	
</div>