{% autoescape None %}
<div class="message" id="{{ tweet["id"] }}" style="min-height: 50px;background-color:#eeeeee;border:3px solid #{{ tweet["color1"] }}">
	
	<img style="height:48px;width48px;float:left;" src="{{ tweet["profile_image_url"] }}">

		<div style="vertical-align:top;margin-left:60px;min-height: 50px;">			
				<b>{{ tweet["name"] }}</b> 
				{{ tweet["text"] }}<BR>
				From {{ tweet["source"] }}
		</div>

	<div style='position:absolute;bottom:0;right:0;width:50%%;font-size:50%%;text-align:right'>{{ tweet["timestamp"] }}</div>
	
</div>